.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
   .card {
    width: 88%;
    max-width: 41.2rem;
    background-color: $dark-blue;
    border-radius: 1.5rem;
    padding: 2.61rem;

    

    
    .img-container {
        background-color: $medium-grey;
        width: 4rem;
        height: 4rem;
        padding: 1.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
            width: 1.4rem;
        }
    }
    
    
        .title {
            font-size: 2.4rem;
            color: $white;
            margin-top: 1.55rem;
        }
    
        .text {
            font-size: 1.415rem;
            color: $light-grey;
            line-height: 2.23rem;
            margin-top: 1.8rem;  
        }
    
    
    .rating-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        .rating-btn {
        color: $light-grey;
        font-size: 1.4rem;
        font-weight: 700;
        background-color: $medium-grey;
        height: 4.2rem;
        width: 4.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.35rem;
    
        div {
            transform: translateY(10%);
        }
    
        &:hover {
            background-color: $orange;
            cursor: pointer;
    
            div {
                color: $white;
            }
        }
        }
    
        .active {
            background-color: $light-grey;
            
            div {
                color: $white;
            }
        }
    
    }
    
    .submit-btn {
        background-color: $orange;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
        margin-bottom: 0.75rem;
        padding: 1.4rem;
        border-radius: 4rem;
    
        div {
            color: $white;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.35rem; 
        }

        &:hover {
            background-color: $white;
            cursor: pointer;
            div {
                color: $orange;
                font-weight: 700;
            }
            
        }
    }

    .card-content-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

       img {
        width: 14.46rem;
        margin-top: .9rem;
       }

        .text {
            text-align: center;
            margin-bottom: 1.5rem;
            margin-top: 1.3rem;
        }

        .result {
            background-color: $medium-grey;
            padding: .75rem 1.4rem;
            border-radius: 5rem;
            margin-top: 2.45rem;
            margin-bottom: 1.45rem;

            div {
                color: $orange;
                font-size: 1.4rem;
                transform: translateY(11%);
            }

            
        }
        
        

    }
    
    .hide {
        display: none;
    }
    
}
    
    
    

}
